<%- include('headerforaskandtemplate'); -%>
  <h1 class="questionask">What's your question?</h1>
  <form action="/askquestion" method="POST">
    <textarea name="ques" id="ques" cols="140" rows="2"></textarea>
    <!-- <input type="text"> --><br>
    <button type="submit" class='postbutton'>Post</button>
</form>

</body>
</html>