html{
    padding: 0;
    margin: 0;
}

.ques{
    margin: 12px auto ! important;
}

.searchmet h1 {
    font-size: calc(40px + (55 - 40) * ((100vw - 300px) / (1100 - 300)));
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
    color: #f5f6fa;
    position: relative;
}
.searchmet{
    text-align: center;
}
.searchmet input{
    width: 80%;
    padding: 7px;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.second{
    text-align: left;
}
body{
   padding-top: 105px;
   background-color: #f1f1f1;
   height: 100vh;
   background-color: white;
   /* display: flex;
   flex-direction: column; */
}
.navbar-brand{
    font-weight: bolder;
    font-family: 'Megrim', cursive;
    color: aquamarine;
    margin: calc(4.5px + (4.5 - 4) * ((100vw - 300px) / (1100 - 300)));
    margin-left: calc(20px + (35 - 20) * ((100vw - 300px) / (1100 - 300)));
    font-size: calc(27px + (34 - 27) * ((100vw - 300px) / (1100 - 300))) ! important;
}

.nav-item{
    font-family: "montserrat";
    margin-left: 15px;
    font-weight: bolder;

}

.nav-item:hover{
    border-bottom: solid red;
}
.bb{
    margin-top: 10px;
    padding: 5px 30px;
    border: 2.5px solid white;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #ff7675;
    font-weight: bold;
    transition: 0.4s;
}
.bb:hover{
    background-color: white;
    color: #ff7675;
}

.questionask{
    font-family: 'Poppins', sans-serif;
    color: #b71540 ;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 30px;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1100 - 300)));
}
.container{
    display: flex;
    justify-content: center;
}
.recentques{
  
    /* font-family: 'Poppins', sans-serif; */
    background-color:  #fafafa
   ;
    height: 33vh;
    width: 100%;
    margin: 13px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.4s;

}
.link{
    position: relative;
    margin-left: 10px;
}
.recentques:hover{
    transform: scale(1.02);
    background-color:  #f6f6f6;
}
.contentsofbox{
     font-family: 'Poppins', sans-serif;
     font-size: calc(24px + (28 - 24) * ((100vw - 300px) / (1100 - 300)));
     font-weight: bold;
     margin: 10px;
     color: #576574;
     position: relative;
}
.askedby{
    margin: 10px;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1100 - 300)));
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: black;
    position: relative;
}
.link{
    position: relative;
}

.searchbar{
    margin: 10px;
    width: 70%;
    padding: 7px
}
.searchbarbutton{
    border: none;
    padding: 9px;
    background-color: #ff7675;
    color: white;
    border-radius: 2px;
}